In [1]:
import pandas as pd

In [2]:
dados = pd.read_csv('Dados/aluguel.csv', sep = ';')
dados.head()

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU,Valor m2,Tipo Agregado
0,Apartamento,Centro,1,0,0,15,800.0,390.0,20.0,53.33,Apartamento
1,Apartamento,Higienópolis,1,0,0,48,800.0,230.0,0.0,16.67,Apartamento
2,Apartamento,Cachambi,2,0,0,50,1300.0,301.0,17.0,26.00,Apartamento
3,Apartamento,Grajaú,2,1,0,70,1500.0,642.0,74.0,21.43,Apartamento
4,Apartamento,Lins de Vasconcelos,3,1,1,90,1500.0,455.0,14.0,16.67,Apartamento

In [3]:
 # Contar a quantidade de imóveis que possuem 1 e 2 quartos, 3 e 4 , 5 e 6 , 7 ou mais quartos
classe = [0, 2, 4, 6, 100]

In [5]:
quartos = pd.cut(dados.Quartos, classe)
quartos
# A função cut() é uma ferramenta do pandas que auxilia na criação distribuições de frequências.

0        (0.0, 2.0]
1        (0.0, 2.0]
2        (0.0, 2.0]
3        (0.0, 2.0]
4        (2.0, 4.0]
5        (0.0, 2.0]
6        (2.0, 4.0]
7        (0.0, 2.0]
8        (0.0, 2.0]
9        (2.0, 4.0]
10       (0.0, 2.0]
11       (2.0, 4.0]
12       (0.0, 2.0]
13       (2.0, 4.0]
14       (0.0, 2.0]
15       (2.0, 4.0]
16       (2.0, 4.0]
17       (2.0, 4.0]
18       (2.0, 4.0]
19       (2.0, 4.0]
20       (2.0, 4.0]
21       (2.0, 4.0]
22       (0.0, 2.0]
23       (2.0, 4.0]
24       (2.0, 4.0]
25       (0.0, 2.0]
26       (2.0, 4.0]
27       (0.0, 2.0]
28       (0.0, 2.0]
29       (0.0, 2.0]
            ...
19801           NaN
19802    (0.0, 2.0]
19803    (0.0, 2.0]
19804    (0.0, 2.0]
19805    (0.0, 2.0]
19806    (0.0, 2.0]
19807    (0.0, 2.0]
19808    (0.0, 2.0]
19809    (0.0, 2.0]
19810    (0.0, 2.0]
19811    (0.0, 2.0]
19812           NaN
19813    (0.0, 2.0]
19814    (0.0, 2.0]
19815    (0.0, 2.0]
19816    (0.0, 2.0]
19817    (0.0, 2.0]
19818    (0.0, 2.0]
19819    (0.0, 2.0]
19820    (0.0, 2.0]
19821    (0.0, 2.0]
19822    (0.0, 2.0]
19823    (0.0, 2.0]
19824    (0.0, 2.0]
19825    (0.0, 2.0]
19826    (0.0, 2.0]
19827    (0.0, 2.0]
19828    (0.0, 2.0]
19829    (0.0, 2.0]
19830           NaN
Name: Quartos, Length: 19831, dtype: category
Categories (4, interval[int64]): [(0, 2] < (2, 4] < (4, 6] < (6, 100]]

In [6]:
pd.value_counts(quartos)
# ( -> intervalo aberto valor não entra
# ] -> intervalo fechado valor entra

(0, 2]      11074
(2, 4]       8094
(4, 6]        470
(6, 100]       36
Name: Quartos, dtype: int64

In [8]:
labels = ['1 e 2 quartos', '3 e 4 quartos', '5 e 6 quartos', '7 quartos ou mais']
quartos = pd.cut(dados.Quartos, classe, labels = labels)
pd.value_counts(quartos)

1 e 2 quartos        11074
3 e 4 quartos         8094
5 e 6 quartos          470
7 quartos ou mais       36
Name: Quartos, dtype: int64