# Relatório de Análise I

In [ ]:
import pandas as pd

In [ ]:
dados = pd.read_csv('Dados/aluguel.csv', sep=';')
#armazena tabela do arquivo csv em uma variável dados
#shitf+tab mostrar parametros da função pandas separador esta com " , " no cvs esta como " ; "
#altera separador para " ; "

In [ ]:
dados
#exibe dados que foram armazenados na variável

In [ ]:
type(dados)
#informa o tipo da variável

In [ ]:
dados.info()
#exibe informações sobre o dataframe

In [28]:
dados.head()
#mostrar tabela resumida

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU
0,Quitinete,Copacabana,1,0,0,40,1700.0,500.0,60.0
1,Casa,Jardim Botânico,2,0,1,100,7000.0,NaN,NaN
2,Conjunto Comercial/Sala,Barra da Tijuca,0,4,0,150,5200.0,4020.0,1111.0
3,Apartamento,Centro,1,0,0,15,800.0,390.0,20.0
4,Apartamento,Higienópolis,1,0,0,48,800.0,230.0,NaN

## Informações gerais sobre a base de dados

In [20]:
dados.dtypes
#informa o tipo das variaveis de todas as colunas da base de dados

Tipo           object
Bairro         object
Quartos         int64
Vagas           int64
Suites          int64
Area            int64
Valor         float64
Condominio    float64
IPTU          float64
dtype: object

In [25]:
tipos_de_dados = pd.DataFrame(dados.dtypes, columns = ['Tipo de Dados'])
#cria um dataframe facilitando a manipulação e visualizaçao
#columns especifica as colunas

In [26]:
tipos_de_dados.columns.name = 'Variáveis'
tipos_de_dados

Variáveis  Tipo de Dados
Tipo              object
Bairro            object
Quartos            int64
Vagas              int64
Suites             int64
Area               int64
Valor            float64
Condominio       float64
IPTU             float64

In [27]:
dados.shape
# retorna uma tupla contendo o nuemro de linha e colunas

(32960, 9)